body {
  text-align: center;
  background-color: aquamarine;
}

.nav-links {
  margin: 5px;
  padding: 5px
}

.home {
  padding: 15px;
}

.random-recipe-btm {
  margin: 20px;
}

.personal-image {
  width: 25%;
}

.biography {
  border-style: dotted;
  border-radius: 0.5px;
  border-color: purple;
  width: 50%;
  margin: auto;  
}

.recipe-card {
  border-style: solid;
  width: 50%;
  margin: auto;
  border-width: 1px;
  padding: 25px;
}

.description {
  font-size:large;
}

.ingredients {
  font-size: x-large;
  color: purple;
  margin: 0;
  padding: 5px;
}